{% extends "base.html" %}
{% block content %}
<p>Hi {{ first_name }},</p>

<p>Thanks for applying to the KLIQ Partner Program.</p>

<p>We're reviewing a few select coaches for this round, and your profile stood out.</p>

<p>I'd like to invite you to a quick call to walk through how the program works and what the sponsorship could look like
    for you. If you're successful, we cover the full cost of your app build and put a team around you to help launch it.
</p>

<p>You can book a time here: calendly.com/joinkliq/kliq-pp-shortlist</p>

<p>You can also get started straight away for free — just head to admin.joinkliq.io to launch your digital store with
    1:1 bookings and an Ask Me Anything feature.</p>

<p>Looking forward to connecting,<br>Ben</p>
{% endblock %}